# Let us now use decision trees to classify if a loan applicant is a good or bad credit risk using the Credit Risk dataset.

In [1]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier

In [2]:
# Reading the data from the datasets
credit_data = pd.read_csv(r"C:\Users\udayk\Downloads\creditriskdataset1603523640815\datasets\credit_risk.csv")
credit_data.head()

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,critical/other existing credit,radio/tv,1169,no known savings,>=7,4,male single,none,...,real estate,67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,existing paid,radio/tv,5951,<100,1<=X<4,2,female div/dep/mar,none,...,real estate,22,none,own,1,skilled,1,none,yes,bad
2,no checking,12,critical/other existing credit,education,2096,<100,4<=X<7,2,male single,none,...,real estate,49,none,own,1,unskilled resident,2,none,yes,good
3,<0,42,existing paid,furniture/equipment,7882,<100,4<=X<7,2,male single,guarantor,...,life insurance,45,none,for free,1,skilled,2,none,yes,good
4,<0,24,delayed previously,new car,4870,<100,1<=X<4,3,male single,none,...,no known property,53,none,for free,2,skilled,2,none,yes,bad

In [3]:
credit_data.shape

(1000, 21)

In [4]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   over_draft              1000 non-null   object
 1   credit_usage            1000 non-null   int64
 2   credit_history          1000 non-null   object
 3   purpose                 1000 non-null   object
 4   current_balance         1000 non-null   int64
 5   Average_Credit_Balance  1000 non-null   object
 6   employment              1000 non-null   object
 7   location                1000 non-null   int64
 8   personal_status         1000 non-null   object
 9   other_parties           1000 non-null   object
 10  residence_since         1000 non-null   int64
 11  property_magnitude      1000 non-null   object
 12  cc_age                  1000 non-null   int64
 13  other_payment_plans     1000 non-null   object
 14  housing                 1000 non-null   object
 15  existing_credits        1000 non-null   int64
 16  job                     1000 non-null   object
 17  num_dependents          1000 non-null   int64
 18  own_telephone           1000 non-null   object
 19  foreign_worker          1000 non-null   object
 20  class                   1000 non-null   object
dtypes: int64(7), object(14)
memory usage: 164.2+ KB

In [5]:
credit_data.describe

<bound method NDFrame.describe of       over_draft  credit_usage                  credit_history  \
0             <0             6  critical/other existing credit
1       0<=X<200            48                   existing paid
2    no checking            12  critical/other existing credit
3             <0            42                   existing paid
4             <0            24              delayed previously
..           ...           ...                             ...
995  no checking            12                   existing paid
996           <0            30                   existing paid
997  no checking            12                   existing paid
998           <0            45                   existing paid
999     0<=X<200            45  critical/other existing credit

                 purpose  current_balance Average_Credit_Balance  employment  \
0               radio/tv             1169       no known savings         >=7
1               radio/tv             5951                   <100      1<=X<4
2              education             2096                   <100      4<=X<7
3    furniture/equipment             7882                   <100      4<=X<7
4                new car             4870                   <100      1<=X<4
..                   ...              ...                    ...         ...
995  furniture/equipment             1736                   <100      4<=X<7
996             used car             3857                   <100      1<=X<4
997             radio/tv              804                   <100         >=7
998             radio/tv             1845                   <100      1<=X<4
999             used car             4576             100<=X<500  unemployed

     location     personal_status other_parties  ...  property_magnitude  \
0           4         male single          none  ...         real estate
1           2  female div/dep/mar          none  ...         real estate
2           2         male single          none  ...         real estate
3           2         male single     guarantor  ...      life insurance
4           3         male single          none  ...   no known property
..        ...                 ...           ...  ...                 ...
995         3  female div/dep/mar          none  ...         real estate
996         4        male div/sep          none  ...      life insurance
997         4         male single          none  ...                 car
998         4         male single          none  ...   no known property
999         3         male single          none  ...                 car

    cc_age  other_payment_plans   housing existing_credits  \
0       67                 none       own                2
1       22                 none       own                1
2       49                 none       own                1
3       45                 none  for free                1
4       53                 none  for free                2
..     ...                  ...       ...              ...
995     31                 none       own                1
996     40                 none       own                1
997     38                 none       own                1
998     23                 none  for free                1
999     27                 none       own                1

                           job num_dependents  own_telephone foreign_worker  \
0                      skilled              1            yes            yes
1                      skilled              1           none            yes
2           unskilled resident              2           none            yes
3                      skilled              2           none            yes
4                      skilled              2           none            yes
..                         ...            ...            ...            ...
995         unskilled resident              1           none            yes
996  high qualif/self emp/mgmt              1            yes            yes
997                    skilled              1           none            yes
998                    skilled              1            yes            yes
999                    skilled              1           none            yes

    class
0    good
1     bad
2    good
3    good
4     bad
..    ...
995  good
996  good
997  good
998   bad
999  good

[1000 rows x 21 columns]>

In [6]:
credit_data.isnull().sum()

over_draft                0
credit_usage              0
credit_history            0
purpose                   0
current_balance           0
Average_Credit_Balance    0
employment                0
location                  0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
cc_age                    0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

# setting the predictors and target

after loading the data, the next step is to select relevant features, perform necessary feature engineering then split the data into train and test sets.

consider all the attributes except for the target column, "class" as potential predictors for building the tree.

In [7]:
#setting the predictor attributes
X = credit_data.columns.drop("class")
# selecting the target
y = credit_data['class']

# Encoding the categorical values

In [8]:
# Encoding all the predictor variables to convert the categorical values to numerical values.
credit_data_encoded = pd.get_dummies(credit_data[X])

print("The total number of predictors after encoding =", len(credit_data_encoded.columns))

# printing the list of columns after encoding to understand the encoding process
credit_data_encoded.columns

The total number of predictors after encoding = 61

Index(['credit_usage', 'current_balance', 'location', 'residence_since',
       'cc_age', 'existing_credits', 'num_dependents', 'over_draft_0<=X<200',
       'over_draft_<0', 'over_draft_>=200', 'over_draft_no checking',
       'credit_history_all paid',
       'credit_history_critical/other existing credit',
       'credit_history_delayed previously', 'credit_history_existing paid',
       'credit_history_no credits/all paid', 'purpose_business',
       'purpose_domestic appliance', 'purpose_education',
       'purpose_furniture/equipment', 'purpose_new car', 'purpose_other',
       'purpose_radio/tv', 'purpose_repairs', 'purpose_retraining',
       'purpose_used car', 'Average_Credit_Balance_100<=X<500',
       'Average_Credit_Balance_500<=X<1000', 'Average_Credit_Balance_<100',
       'Average_Credit_Balance_>=1000',
       'Average_Credit_Balance_no known savings', 'employment_1<=X<4',
       'employment_4<=X<7', 'employment_<1', 'employment_>=7',
       'employment_unemployed', 'personal_status_female div/dep/mar',
       'personal_status_male div/sep', 'personal_status_male mar/wid',
       'personal_status_male single', 'other_parties_co applicant',
       'other_parties_guarantor', 'other_parties_none',
       'property_magnitude_car', 'property_magnitude_life insurance',
       'property_magnitude_no known property',
       'property_magnitude_real estate', 'other_payment_plans_bank',
       'other_payment_plans_none', 'other_payment_plans_stores',
       'housing_for free', 'housing_own', 'housing_rent',
       'job_high qualif/self emp/mgmt', 'job_skilled',
       'job_unemp/unskilled non res', 'job_unskilled resident',
       'own_telephone_none', 'own_telephone_yes', 'foreign_worker_no',
       'foreign_worker_yes'],
      dtype='object')

After encoding, there are 61 predictor attributes. Each of the non-numerical columns has been replaced by new columns as the number of its values. The newly generated columns take either 0 or 1 as the value.

In [9]:
credit_data_encoded

,credit_usage,current_balance,location,residence_since,cc_age,existing_credits,num_dependents,over_draft_0<=X<200,over_draft_<0,over_draft_>=200,...,housing_own,housing_rent,job_high qualif/self emp/mgmt,job_skilled,job_unemp/unskilled non res,job_unskilled resident,own_telephone_none,own_telephone_yes,foreign_worker_no,foreign_worker_yes
0,6,1169,4,4,67,2,1,False,True,False,...,True,False,False,True,False,False,False,True,False,True
1,48,5951,2,2,22,1,1,True,False,False,...,True,False,False,True,False,False,True,False,False,True
2,12,2096,2,3,49,1,2,False,False,False,...,True,False,False,False,False,True,True,False,False,True
3,42,7882,2,4,45,1,2,False,True,False,...,False,False,False,True,False,False,True,False,False,True
4,24,4870,3,4,53,2,2,False,True,False,...,False,False,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,1736,3,4,31,1,1,False,False,False,...,True,False,False,False,False,True,True,False,False,True
996,30,3857,4,4,40,1,1,False,True,False,...,True,False,True,False,False,False,False,True,False,True
997,12,804,4,4,38,1,1,False,False,False,...,True,False,False,True,False,False,True,False,False,True
998,45,1845,4,4,23,1,1,False,True,False,...,False,False,False,True,False,False,False,True,False,True
999,45,4576,3,4,27,1,1,True,False,False,...,True,False,False,True,False,False,True,False,False,True

In [10]:
for col in credit_data.columns:
    print(f"Column Name: {col}")
    counts = credit_data[col].value_counts()
    for index, value in counts.items():
        print(f"{index} : {value}")

Column Name: over_draft
no checking : 394
<0 : 274
0<=X<200 : 269
>=200 : 63
Column Name: credit_usage
24 : 184
12 : 179
18 : 113
36 : 83
6 : 75
15 : 64
9 : 49
48 : 48
30 : 40
21 : 30
10 : 28
60 : 13
27 : 13
42 : 11
11 : 9
20 : 8
8 : 7
4 : 6
45 : 5
7 : 5
39 : 5
14 : 4
13 : 4
33 : 3
28 : 3
54 : 2
16 : 2
22 : 2
47 : 1
5 : 1
26 : 1
72 : 1
40 : 1
Column Name: credit_history
existing paid : 530
critical/other existing credit : 293
delayed previously : 88
all paid : 49
no credits/all paid : 40
Column Name: purpose
radio/tv : 280
new car : 234
furniture/equipment : 181
used car : 103
business : 97
education : 50
repairs : 22
domestic appliance : 12
other : 12
retraining : 9
Column Name: current_balance
1478 : 3
1262 : 3
1258 : 3
1275 : 3
1393 : 3
1442 : 2
3590 : 2
2578 : 2
701 : 2
1924 : 2
2039 : 2
4526 : 2
3349 : 2
1597 : 2
1449 : 2
1410 : 2
1169 : 2
1919 : 2
1126 : 2
932 : 2
2028 : 2
3617 : 2
1409 : 2
2384 : 2
609 : 2
3832 : 2
1082 : 2
5954 : 2
1553 : 2
709 : 2
3959 : 2
4272 : 2
1237 : 2
6761 : 2
1533 : 2
802 : 2
1231 : 2
1154 : 2
976 : 2
433 : 2
717 : 2
1287 : 2
1344 : 2
727 : 2
1940 : 2
1546 : 2
1364 : 2
1413 : 2
1424 : 2
1382 : 2
1743 : 2
1236 : 2
2406 : 2
1386 : 2
1935 : 2
2978 : 2
4042 : 2
2171 : 2
1240 : 2
1374 : 2
3077 : 2
1503 : 2
2631 : 2
1264 : 2
3017 : 2
1474 : 2
1199 : 2
1845 : 2
2241 : 2
6468 : 2
1295 : 2
1216 : 2
1282 : 2
2333 : 2
5103 : 1
1538 : 1
2080 : 1
2580 : 1
3651 : 1
4530 : 1
5150 : 1
5595 : 1
1453 : 1
7966 : 1
2753 : 1
9857 : 1
2862 : 1
1347 : 1
6527 : 1
10366 : 1
1113 : 1
2279 : 1
4139 : 1
5742 : 1
4221 : 1
7476 : 1
2302 : 1
1922 : 1
2303 : 1
8086 : 1
2346 : 1
3973 : 1
888 : 1
10222 : 1
6361 : 1
1532 : 1
1297 : 1
900 : 1
1050 : 1
1047 : 1
6314 : 1
3496 : 1
3609 : 1
4843 : 1
3488 : 1
975 : 1
5003 : 1
7119 : 1
7127 : 1
14027 : 1
7596 : 1
1361 : 1
1505 : 1
3148 : 1
6148 : 1
1337 : 1
1228 : 1
2255 : 1
790 : 1
2570 : 1
250 : 1
1316 : 1
585 : 1
1882 : 1
2687 : 1
6416 : 1
6403 : 1
4686 : 1
1987 : 1
760 : 1
1138 : 1
2476 : 1
2896 : 1
1198 : 1
4716 : 1
2284 : 1
684 : 1
926 : 1
1800 : 1
1905 : 1
1123 : 1
6331 : 1
3190 : 1
1377 : 1
2503 : 1
2528 : 1
5324 : 1
5507 : 1
6560 : 1
2969 : 1
1206 : 1
2118 : 1
700 : 1
629 : 1
1203 : 1
1103 : 1
7980 : 1
947 : 1
1750 : 1
996 : 1
2799 : 1
8858 : 1
1289 : 1
1217 : 1
2246 : 1
385 : 1
1965 : 1
1572 : 1
626 : 1
2718 : 1
1552 : 1
2022 : 1
1358 : 1
931 : 1
1333 : 1
4241 : 1
2775 : 1
1255 : 1
2864 : 1
3863 : 1
2133 : 1
1388 : 1
918 : 1
3124 : 1
1928 : 1
2964 : 1
2278 : 1
683 : 1
1331 : 1
12389 : 1
4712 : 1
1995 : 1
1372 : 1
3979 : 1
6758 : 1
3234 : 1
5433 : 1
806 : 1
2788 : 1
6999 : 1
2930 : 1
1927 : 1
2820 : 1
937 : 1
1056 : 1
2329 : 1
1837 : 1
662 : 1
1858 : 1
2600 : 1
1979 : 1
2116 : 1
1311 : 1
1437 : 1
3660 : 1
1444 : 1
1980 : 1
1355 : 1
1376 : 1
15653 : 1
1493 : 1
4370 : 1
750 : 1
1308 : 1
4623 : 1
1851 : 1
2273 : 1
1880 : 1
3552 : 1
4583 : 1
3105 : 1
2319 : 1
6350 : 1
3612 : 1
2828 : 1
2032 : 1
2671 : 1
1534 : 1
2051 : 1
1300 : 1
741 : 1
3049 : 1
3357 : 1
7763 : 1
3632 : 1
1808 : 1
12204 : 1
9157 : 1
3676 : 1
3441 : 1
3380 : 1
640 : 1
3652 : 1
1530 : 1
3914 : 1
2603 : 1
841 : 1
3990 : 1
18424 : 1
1278 : 1
1107 : 1
3763 : 1
3711 : 1
3594 : 1
3195 : 1
4454 : 1
4736 : 1
2991 : 1
2142 : 1
3161 : 1
2848 : 1
3485 : 1
14896 : 1
2359 : 1
3345 : 1
1817 : 1
12749 : 1
1366 : 1
2002 : 1
6872 : 1
697 : 1
1049 : 1
10297 : 1
10477 : 1
2625 : 1
7409 : 1
4057 : 1
7678 : 1
1343 : 1
874 : 1
1322 : 1
3595 : 1
1422 : 1
6742 : 1
7814 : 1
9277 : 1
2181 : 1
1098 : 1
795 : 1
4153 : 1
2825 : 1
15672 : 1
6614 : 1
7824 : 1
2442 : 1
1829 : 1
5800 : 1
8947 : 1
2606 : 1
1592 : 1
2186 : 1
1867 : 1
1747 : 1
1670 : 1
4844 : 1
7166 : 1
3939 : 1
1514 : 1
7393 : 1
1193 : 1
7297 : 1
2831 : 1
753 : 1
2427 : 1
2538 : 1
8386 : 1
2923 : 1
1224 : 1
8229 : 1
1433 : 1
6289 : 1
6579 : 1
3565 : 1
1569 : 1
1936 : 1
2390 : 1
1736 : 1
3857 : 1
804 : 1
3568 : 1
2520 : 1
1715 : 1
454 : 1
522 : 1
1498 : 1
745 : 1
2063 : 1
6288 : 1
6842 : 1
3527 : 1
929 : 1
1455 : 1
8358 : 1
2859 : 1
3621 : 1
2145 : 1
4113 : 1
10974 : 1
1893 : 1
3656 : 1
4006 : 1
3069 : 1
1740 : 1
2353 : 1
3556 : 1
2397 : 1
652 : 1
3331 : 1
11560 : 1
4933 : 1
1655 : 1
2812 : 1
8065 : 1
3275 : 1
2223 : 1
1480 : 1
1371 : 1
3535 : 1
3509 : 1
5711 : 1
3872 : 1
836 : 1
3108 : 1
1941 : 1
2675 : 1
2751 : 1
6224 : 1
5998 : 1
1188 : 1
6313 : 1
1221 : 1
2892 : 1
3062 : 1
2301 : 1
2901 : 1
1155 : 1
2389 : 1
3029 : 1
4380 : 1
4280 : 1
2325 : 1
1048 : 1
3160 : 1
2483 : 1
14179 : 1
1797 : 1
2511 : 1
1274 : 1
5248 : 1
428 : 1
2463 : 1
8588 : 1
5771 : 1
1555 : 1
1285 : 1
1299 : 1
1271 : 1
691 : 1
5045 : 1
2124 : 1
2214 : 1
12680 : 1
7511 : 1
1549 : 1
1795 : 1
3976 : 1
5084 : 1
2327 : 1
886 : 1
601 : 1
2957 : 1
2611 : 1
5179 : 1
2993 : 1
1943 : 1
1559 : 1
3422 : 1
1249 : 1
7472 : 1
2235 : 1
1471 : 1
10875 : 1
894 : 1
3343 : 1
3577 : 1
5804 : 1
2169 : 1
2439 : 1
2210 : 1
2221 : 1
11816 : 1
2375 : 1
6681 : 1
8335 : 1
9271 : 1
590 : 1
930 : 1
9283 : 1
1778 : 1
907 : 1
484 : 1
9629 : 1
3051 : 1
3931 : 1
7432 : 1
1338 : 1
1554 : 1
15857 : 1
1345 : 1
1101 : 1
3016 : 1
2712 : 1
731 : 1
3780 : 1
1602 : 1
3966 : 1
4165 : 1
759 : 1
2569 : 1
6850 : 1
571 : 1
1577 : 1
3972 : 1
950 : 1
763 : 1
2064 : 1
1414 : 1
3414 : 1
7485 : 1
2577 : 1
338 : 1
1963 : 1
9572 : 1
2360 : 1
4455 : 1
1647 : 1
3777 : 1
884 : 1
1360 : 1
5129 : 1
1175 : 1
674 : 1
3244 : 1
4591 : 1
3844 : 1
1131 : 1
909 : 1
7308 : 1
1055 : 1
10144 : 1
8613 : 1
766 : 1
2728 : 1
1881 : 1
4795 : 1
3416 : 1
2462 : 1
2288 : 1
3566 : 1
860 : 1
682 : 1
5371 : 1
1582 : 1
1346 : 1
5848 : 1
7758 : 1
6967 : 1
1288 : 1
339 : 1
3512 : 1
1898 : 1
2872 : 1
3915 : 1
2108 : 1
3031 : 1
3149 : 1
2507 : 1
2141 : 1
866 : 1
1544 : 1
1823 : 1
14555 : 1
2767 : 1
1291 : 1
2522 : 1
915 : 1
1595 : 1
4605 : 1
1185 : 1
3447 : 1
1204 : 1
1925 : 1
666 : 1
2251 : 1
2150 : 1
4151 : 1
2030 : 1
7418 : 1
2684 : 1
4210 : 1
7865 : 1
1501 : 1
10961 : 1
951 : 1
2760 : 1
4297 : 1
936 : 1
1168 : 1
5117 : 1
902 : 1
1495 : 1
10623 : 1
6568 : 1
3074 : 1
3835 : 1
5293 : 1
1908 : 1
3342 : 1
3104 : 1
3913 : 1
3021 : 1
625 : 1
1200 : 1
707 : 1
4657 : 1
2613 : 1
1984 : 1
2708 : 1
6887 : 1
5866 : 1
6110 : 1
2100 : 1
1225 : 1
458 : 1
1158 : 1
6204 : 1
6187 : 1
6143 : 1
2299 : 1
1352 : 1
7228 : 1
2073 : 1
5965 : 1
3378 : 1
2225 : 1
783 : 1
9566 : 1
1961 : 1
6229 : 1
1391 : 1
1537 : 1
1953 : 1
14421 : 1
4746 : 1
4020 : 1
5190 : 1
1913 : 1
2096 : 1
7882 : 1
4870 : 1
9055 : 1
2835 : 1
6948 : 1
3059 : 1
5234 : 1
4308 : 1
1567 : 1
1403 : 1
2424 : 1
8072 : 1
12579 : 1
3430 : 1
2134 : 1
2647 : 1
1804 : 1
2069 : 1
426 : 1
409 : 1
2415 : 1
6836 : 1
3181 : 1
1007 : 1
8487 : 1
7057 : 1
2323 : 1
2445 : 1
11938 : 1
6458 : 1
6078 : 1
7721 : 1
392 : 1
6260 : 1
7855 : 1
1680 : 1
3578 : 1
7174 : 1
2132 : 1
4281 : 1
2366 : 1
1835 : 1
3868 : 1
1768 : 1
781 : 1
2121 : 1
639 : 1
1860 : 1
3499 : 1
1469 : 1
2337 : 1
1819 : 1
2622 : 1
2394 : 1
8133 : 1
730 : 1
1164 : 1
1977 : 1
1526 : 1
3965 : 1
4771 : 1
9436 : 1
5943 : 1
1213 : 1
1568 : 1
1755 : 1
2315 : 1
1412 : 1
12612 : 1
2249 : 1
1108 : 1
618 : 1
797 : 1
1318 : 1
15945 : 1
2012 : 1
2149 : 1
3812 : 1
1657 : 1
8471 : 1
1042 : 1
3186 : 1
958 : 1
1591 : 1
2762 : 1
2779 : 1
2743 : 1
1149 : 1
1313 : 1
1190 : 1
3448 : 1
11328 : 1
1872 : 1
2058 : 1
2136 : 1
1484 : 1
660 : 1
3394 : 1
1884 : 1
1620 : 1
2629 : 1
719 : 1
5096 : 1
2782 : 1
2579 : 1
1842 : 1
5842 : 1
2238 : 1
7374 : 1
2326 : 1
1820 : 1
983 : 1
3249 : 1
1957 : 1
11760 : 1
2348 : 1
1223 : 1
1516 : 1
1473 : 1
1887 : 1
8648 : 1
2899 : 1
2197 : 1
1053 : 1
3235 : 1
939 : 1
1967 : 1
7253 : 1
2292 : 1
1381 : 1
1244 : 1
2576 : 1
1283 : 1
5951 : 1
1037 : 1
3573 : 1
1201 : 1
3622 : 1
960 : 1
1163 : 1
1209 : 1
3757 : 1
1418 : 1
3518 : 1
1934 : 1
8318 : 1
368 : 1
2122 : 1
2996 : 1
9034 : 1
1585 : 1
1301 : 1
1323 : 1
3123 : 1
5493 : 1
1207 : 1
1309 : 1
5152 : 1
3114 : 1
1512 : 1
1245 : 1
11054 : 1
518 : 1
2759 : 1
2670 : 1
4817 : 1
2679 : 1
3905 : 1
3386 : 1
343 : 1
4594 : 1
3620 : 1
1721 : 1
754 : 1
1950 : 1
2924 : 1
1659 : 1
7238 : 1
2764 : 1
4679 : 1
3092 : 1
448 : 1
654 : 1
1238 : 1
1330 : 1
12976 : 1
1603 : 1
9398 : 1
4796 : 1
7629 : 1
9960 : 1
4675 : 1
2515 : 1
2745 : 1
672 : 1
3804 : 1
1038 : 1
10127 : 1
1543 : 1
4811 : 1
276 : 1
5381 : 1
5511 : 1
3749 : 1
685 : 1
1494 : 1
2746 : 1
708 : 1
4351 : 1
3643 : 1
4249 : 1
6419 : 1
1076 : 1
2910 : 1
1024 : 1
5302 : 1
2748 : 1
6304 : 1
8978 : 1
999 : 1
2662 : 1
1402 : 1
12169 : 1
3060 : 1
11998 : 1
2697 : 1
2404 : 1
4611 : 1
1901 : 1
3368 : 1
1574 : 1
1445 : 1
1520 : 1
3878 : 1
10722 : 1
4788 : 1
7582 : 1
1092 : 1
1938 : 1
2659 : 1
2212 : 1
6199 : 1
2331 : 1
4463 : 1
776 : 1
1239 : 1
3399 : 1
2247 : 1
1766 : 1
2473 : 1
1542 : 1
3850 : 1
3650 : 1
3446 : 1
3001 : 1
3079 : 1
6070 : 1
2146 : 1
13756 : 1
14782 : 1
7685 : 1
2320 : 1
846 : 1
14318 : 1
362 : 1
1246 : 1
3229 : 1
1028 : 1
959 : 1
3398 : 1
5801 : 1
1525 : 1
4473 : 1
1068 : 1
6615 : 1
1864 : 1
7408 : 1
11590 : 1
4110 : 1
3384 : 1
2101 : 1
4169 : 1
1521 : 1
5743 : 1
3599 : 1
3213 : 1
4439 : 1
3949 : 1
1459 : 1
882 : 1
3758 : 1
1136 : 1
4576 : 1
Column Name: Average_Credit_Balance
<100 : 603
no known savings : 183
100<=X<500 : 103
500<=X<1000 : 63
>=1000 : 48
Column Name: employment
1<=X<4 : 339
>=7 : 253
4<=X<7 : 174
<1 : 172
unemployed : 62
Column Name: location
4 : 476
2 : 231
3 : 157
1 : 136
Column Name: personal_status
male single : 548
female div/dep/mar : 310
male mar/wid : 92
male div/sep : 50
Column Name: other_parties
none : 907
guarantor : 52
co applicant : 41
Column Name: residence_since
4 : 413
2 : 308
3 : 149
1 : 130
Column Name: property_magnitude
car : 332
real estate : 282
life insurance : 232
no known property : 154
Column Name: cc_age
27 : 51
26 : 50
23 : 48
24 : 44
28 : 43
25 : 41
30 : 40
35 : 40
36 : 39
31 : 38
29 : 37
32 : 34
33 : 33
34 : 32
37 : 29
22 : 27
40 : 25
38 : 24
42 : 22
39 : 21
46 : 18
43 : 17
47 : 17
44 : 17
41 : 17
45 : 15
20 : 14
21 : 14
49 : 14
50 : 12
48 : 12
54 : 10
57 : 9
52 : 9
51 : 8
55 : 8
63 : 8
61 : 7
53 : 7
60 : 6
65 : 5
58 : 5
64 : 5
66 : 5
74 : 4
67 : 3
68 : 3
56 : 3
59 : 3
75 : 2
19 : 2
62 : 2
70 : 1
Column Name: other_payment_plans
none : 814
bank : 139
stores : 47
Column Name: housing
own : 713
rent : 179
for free : 108
Column Name: existing_credits
1 : 633
2 : 333
3 : 28
4 : 6
Column Name: job
skilled : 630
unskilled resident : 200
high qualif/self emp/mgmt : 148
unemp/unskilled non res : 22
Column Name: num_dependents
1 : 845
2 : 155
Column Name: own_telephone
none : 596
yes : 404
Column Name: foreign_worker
yes : 963
no : 37
Column Name: class
good : 700
bad : 300

# Splitting the required function

In [11]:
# Splitting the required function
from sklearn.model_selection import train_test_split
#splitting data into train and test datasets
X_train,X_test,y_train,y_test = train_test_split(credit_data_encoded,y,test_size = 0.15,random_state = 100)
#printing the shape of the resulting datasets
print("Shape of X_train and y_train are:", X_train.shape, "and", y_train.shape, " respectively")
print("Shape of X_test and y_test are:", X_test.shape, "and", y_test.shape, " respectively")

Shape of X_train and y_train are: (850, 61) and (850,)  respectively
Shape of X_test and y_test are: (150, 61) and (150,)  respectively

# Building the model using Scikit-Learn

In [12]:
# Creating an object of the DecisionTreeClassifier model
model = DecisionTreeClassifier(random_state = 1)
# Training model on the training data
model.fit(X_train,y_train)

DecisionTreeClassifier(random_state=1)

In [13]:
# Predicting target values using the model built on training data
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)

In [14]:
# Getting the accuracy on train data
train_accuracy = model.score(X_train,y_train)
print("Accuracy of the model on train data = ",train_accuracy)
# Getting the accuracy on test data
test_accuracy = model.score(X_test,y_test)
print("Accuracy of the model on test data = ",test_accuracy)

Accuracy of the model on train data =  1.0
Accuracy of the model on test data =  0.6533333333333333

You can observe that the training accuracy is 100% and the test accuracy is approximately 67%.

This could mean that the model is overfit to the training data and is not a good approximation of the input to output mapping.

In order to avoid this problem, certain hyperparameters of the decision tree algorithmcan be tuned.

Hyperparameters are model properties which guide the training process i.e. they cannot be learnt from the training data.

For example, the below code demonstrates creating two models with different values for the following hyper-parameters:

min_samples_split: The minimum number of instances that should be at a node before the algorithm does a further split on it.

min_impurity_decrease: The minimum percentage reduction in the impurity of a set (as measured by gini index) required to make a split.

In [15]:
# Model 1:
# Min number of samples required in a set to split = 10
# Min reduction in impurity required for split to be included in the tree = 0.005
model1 = DecisionTreeClassifier(min_samples_split=10,min_impurity_decrease=0.005)
# Fitting the model to the training data
model1.fit(X_train,y_train)
# Measuring the accuracy of the model
print("train_accuracy = ", model1.score(X_train,y_train))
print("test_accuracy = ", model1.score(X_test,y_test))

train_accuracy =  0.7635294117647059
test_accuracy =  0.7266666666666667

In [16]:
# Model 2:
# Min number of samples required in a set to split = 20
# Min reduction in impurity required for split to be included in the tree = 0.1
model2 = DecisionTreeClassifier(min_samples_split=20,min_impurity_decrease=0.1)
# Fitting the model to the training data
model2.fit(X_train,y_train)
# Measuring the accuracy of the model
print("Model2 train accuracy = ", model2.score(X_train,y_train))
print("Model2 test accuracy = ", model2.score(X_test,y_test))

Model2 train accuracy =  0.6976470588235294
Model2 test accuracy =  0.7133333333333334

You can observe that with different values of hyperparameters, we can get different accuracy and reduce overfitting.